.create-todo-input-and-li-container {

    #create-todo-input {
        border-radius: 3px;
        border: none;
        box-sizing: border-box;
        padding-left: 10px;
        line-height: 40px;
    }
    
}
